#realmadrid {
  color: rgb(6, 43, 253);
}
table {
  font-size: 40px;
}
body {
  background-color: #f7fff6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0ceb77;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(239, 241, 239);
}

#realmadrid {
  background-color: rgb(238, 241, 239);
}
#sora {
  background-color: white;
}

td {
  color: rgb(4, 210, 247);
}
th {
  color: #2e2eff;
}
